.App {
  text-align: center;
  background: steelblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#profilePic
{
  border-radius: 50%;
}

#HeaderCont
{
  background-color: steelblue;
  border-radius: 0%;
  color : whitesmoke;
  border-style: solid;
  border-color: steelblue;
}

#ContentCont
{
  background-color: transparent;
  border-radius: 0%;
  color : steelblue;
  border-style: solid;
  border-color: steelblue;
}

#welcome
{
  height: 100vh;
  width: auto;
  background-color: rgb(36, 36, 36);
  color : whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_div {
  left: 48%;
  position: absolute;
  bottom: 0px;
}

.scrollD
{
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 40px;
  }
}

#icons:hover
{
  transform : scale(1.1);
}

#YHN
{
  height: 100vh;
  width: 100vw;
  background-color: steelblue;
  color : whitesmoke;
}


#scrollShow
{
  background-image: url(/src/Images/japan.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.color-nav
{
  background-color: steelblue;
}