.App {
  text-align: center;
  color: ghostwhite;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Mono";
}

a {
  color: lightskyblue;
  background-color: transparent;
}

#profilePic {
  border-radius: 50%;
}

#icons:hover {
  transform: scale(1.1);
}

#scrollShow {
  background-color: #001933;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.color-nav {
  background-color: #1a2330;
}

.nav-link {
  color: ghostwhite !important;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.marker {
  color: #ccff15;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Mono&display=swap");
