.service {
  height: 800px;
}
@media screen and (max-width: 601px) {
    .service {
        height: 1200px;
    }
  }

.service_title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 20vh;
  text-align: left;
}

.service_index {
  color: #ccff15;
  font-size: 20px;
}

.service_header {
    text-align: left;
    padding-right: 40%;
}

@media screen and (max-width: 441px) {
    .service_header {
        padding: 0;
    }
}

.service_table {
    border-style: solid;
    border-width: 3px;
    border-color:#1a2330;
}

table, th, td {
    border: 3px solid #1a2330;
    background-color: #1a293a;
  }

th, td {
    padding: 10px;
}

th {
    color: lightskyblue;
}

.service_tableNote {
    text-align: left !important;
    color: lightskyblue;
    font-size: 12px;
}

.service_footer {
    text-align: left;
    padding-right: 40%;
}

@media screen and (max-width: 441px) {
    .service_footer {
        padding: 0;
    }
}

.service_image {
    background-color: transparent;
    position: relative;
    bottom: 470px;
    left: 300px;
}

@media screen and (max-width: 967px) {
    .service_image {
        position: relative;
        top: 0px;
        left: 0px;
    }
}

